/** Typography **/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/** Colors **/
:root {
  /* Primary */
  --strong-cyan: rgb(38, 192, 171);

  /* Neutral */
  --very-dark-cyan: rgb(0, 73, 77);
  --dark-grayish-cyan: rgb(94, 122, 125);
  --grayish-cyan: rgb(127, 156, 159);
  --light-grayish-cyan: rgb(197, 228, 231);
  --very-light-grayish-cyan: rgb(243, 249, 250);
  --white: rgb(255, 255, 255);
}

/** Default Desktop Version **/
html {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  justify-content: center;
  height: 100%;
}

input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  color: var(--very-dark-cyan);
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
}

input::placeholder {
  opacity: 0.35;
}

h1 {
  color: var(--dark-grayish-cyan);
  font-size: 16px;
  line-height: 24px;
}

h2 {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
}

span {
  color: var(--grayish-cyan);
  font-size: 13px;
  line-height: 19px;
}

a {
  color: var(--very-dark-cyan);
  text-decoration: none;
}

a:hover {
  color: var(--dark-grayish-cyan);
}

footer {
  color: var(--very-dark-cyan);
  font-size: 12px;
  margin-top: 60px;
}